{% extends "layout.njk" %} {% block content %} {% block head %}
<title>Sobre - Gabriel Ramos Moreira</title>
{% endblock %}

<div id="wrapper">
  <img
    src="https://avatars0.githubusercontent.com/u/40040533?s=460&v=4"
    alt="Gabriel Ramos Moreira"
  />
  <h1>Gabriel Ramos Moreira</h1>
  <h2>Programador</h2>
  <p>
    Programador Delphi e colaborador na empresa
    <a href="https://rumolog.com" target="_blanck">Rumo Logistica</a>
  </p>
</div>

<div id="links-footer" class="links">
  <a href="https://github.com/gabrielmoreeira" target="_blank">Github</a>
  <a href="/" target="_blank">Twitter</a>
  <a
    href="https://www.linkedin.com/in/gabriel-moreira-27524752/"
    target="_blank"
    >linkedin</a
  >
</div>

{% endblock %}
